//Tipografia
$text-global:'Roboto', sans-serif;
$titulos:'Lato', sans-serif;

//Medidas
$telefono:480px;
$tablet:768px;
$laptop:1280px;
$desktop:1440px;


//Colores
$azul: #1073BA;
$verde: #00DA55;
$gris: #3B3B3B;
$blanco: #FFFFFF;
$negro: #1F1E1E;
$borde: #e1e1e1;